@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}
.navbar{
  padding: 1.25rem;
  display: flex;
  align-items: center;
  max-width:37.5rem;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
  color: #2b6e4a;
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 1rem;
  text-decoration: none;
  padding: 0.4rem;
}

.navbar a:hover{
  color: #2b6e4a;
}

.content{
  max-width: 37.5rem;
  margin:2.5rem auto;
  padding: 1.25rem;
}

.blog-preview{
  padding: 0.6rem 1rem;
  margin: 1.2rem 0;
  border-bottom:0.2rem solid #fafafa ;
}

.blog-preview:hover{
  box-shadow: 0.035rem 0.036rem 0.090rem rgba(0, 0, 0, 0.4);
}

.blog-preview h2{
  font-size: 1.25rem;
  color: #2b6e4a;
  margin-bottom: 0.5rem;
}

.blog-preview a{
  text-decoration: none;
}

/*For blog details pages*/

.blog-details h2{
  font-size: 1.25rem;
  color: #2b6e4a;
  margin-bottom: 0.8rem;
}

.blog-details div{
  margin: 1.25rem 0;
}

.blog-details button{
  background: #2b6e4a;
  color: #fff;
  border: 0;
  padding: 0.8rem;
  border-radius: 0.8rem ;
  cursor: pointer;
}

/*Create a new blog ->Form*/
.create{
  max-width: 25.5rem ;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}

.create h2{
  font-size: 1.25rem;
  color: #2b6e4a;
  margin-bottom: 1.80rem;
}

.create input, .create textarea, .create select{
  width: 100%;
  padding: 0.4rem 0.7rem;
  margin: 0.7rem 0;
  border:1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #2b6e4a;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
}